
<section class="main-section">
    <section class="main-search">
        <img src="/assets/background2.jpg">
        <h1 class="main-search-content">Rápido e fácil</h1>
        <p class="main-search-content">Encontre o seu apê ideial em apenas alguns segundos</p>
        <input class="main-search-content" type="text" name="search" placeholder="Pesquise aqui sua cidade, bairro ou endereço...">
    </section>
    <section class="highlights">
        <h3>Opções rápidas para você</h3>
        <p>Destaques da semana que você pode se interessar.</p>
        <div class="highlights-main">
            <ng-container class="ngcontainer" *ngFor="let immobile of immobiles">
                <app-card
                    [id]="immobile.id"
                    [quantityRooms]="immobile.quantityRooms"
                    [quantityBedrooms]="immobile.quantityBedrooms"
                    [quantityBathrooms]="immobile.quantityBathrooms"
                    [imageUrl]="immobile.imageUrl"
                    [price]="immobile.price"
                    [name]="immobile.name"
                    [sellerId]="immobile.sellerId">
                </app-card>
           </ng-container>
        </div>
    </section>
    <section class="filter">
        <div class="content">
            <p class="main-text">Use o nosso SUPER FILTRO!</p>
            <p class="second-text">"Esta tudo misturado, nunca consigo encontrar nada."</p>
            <p class="second-text">Nunca mais passe por isso! Com o nosso super filtro e apenas alguns cliques,<br> encontre o seu apê, do jeitinho que você sempre sonhou!</p>
            <button>Usar Super Filtro</button>
        </div>
        <div class="image">
            <img src="/assets/woman.jpg">
        </div>
    </section>
</section>
<app-modal-text [showModal]="showModalText" [message]="message"></app-modal-text>
<app-footer></app-footer>
    