<section class="main-section">
    <section class="content">
        <img src="/assets/background-register.jpg">
    </section>
    <section class="register">
        <a href="/" class="back">
            <img src="/assets/arrow-icon.png">
            <span>voltar para o menu</span>
        </a>
        <h1>Cadastre-se para ter acesso a todas as funcionalidades!</h1>
        <form id="form" [formGroup]="form">
            <section class="section1">
                <div class="image-profile-div">
                    <input formControlName="imagem_de_perfil" class="image-profile-input" type="file" id="imageProfileInput" name="image-profile" (change)="onFileSelect($event)">
                </div>
                <div class="data1">
                    <label>Nome:</label>
                    <input formControlName="nome" type="text" name="name" placeholder="Digite aqui o seu nome!">
                    <label>Email:</label>
                    <input formControlName="email" type="email" name="email" placeholder="Digite aqui o seu email!">
                    <label>Data de nascimento:</label>
                    <input formControlName="data_de_nascimento" type="date" name="dateOfBirth">
                </div>
            </section>
            <section class="section2">
                <div class="data2">
                    <label>Telefone:</label>
                    <input formControlName="telefone" type="tel" name="phone" placeholder="Ex: 55900000000">
                    <label>Whatsapp:</label>
                    <input formControlName="whatsapp" type="tel" name="whatsapp" placeholder="Ex: 55900000000">
                    <label>Estado:</label>
                    <select id="estado-select" formControlName="estado" (change)="findCitiesByState($event)">
                        <option value="" disabled selected>Selecione um estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                    <label>Cidade:</label>
                    <select formControlName="cidade" (click)="searchCity($event)">
                        <option value="" disabled selected>Selecione uma cidade</option>
                        <option *ngFor="let city of cities" [value]="city">{{ city }}</option> 
                    </select>
                </div>
                <div class="data3">
                    <label for="genderSelect">Gênero:</label>
                    <select formControlName="gênero" name="genderInput" id="genderSelect">
                        <option value="" disabled selected>Selecione o gênero</option>
                        <option value="MALE">Masculino</option>
                        <option value="FEMALE">Feminina</option>
                    </select>
                    <label>Senha:</label>
                    <input formControlName="senha" type="password" name="password" placeholder="Digite uma senha de no mínimo 10 caracteres">
                    <label>Verificar senha:</label>
                    <input formControlName="verificação_de_senha" type="password" name="verify-password" placeholder="Digite a mesma senha do campo anterior!" (input)="verifyIfPasswordNotNull()">
                    <button (click)="verifyFields()">Finalizar cadastro</button>
                </div>
            </section>
        </form>

        <app-loading [isLoading]="isLoading"></app-loading>
        <app-modal-alert [showModal]="showModal" [field]="field"></app-modal-alert>
        <app-modal-text [showModal]="showModalText" [message]="message"></app-modal-text>
    </section>
</section>