<nav>
    <ul class="main">
        <li class="menu"><a href="#"><img src="/assets/menu-icon.png"></a></li>
        <li class="logo"><a href="/"><img  src="/assets/logo.png"></a></li>
    </ul>
    <ul class="options">
        <li class="option"><a href="#">Alugar apê</a></li>   
        <li class="option"><a href="#">Comprar apê</a></li>
        <li class="option"><a href="#">Planos e serviços</a></li>
        <li class="option"><a href="#">Entre em contato</a></li>
    </ul>
    <ul *ngIf="isLogged; else defaultDiv" class="auth" (mouseleave)="closeDropdown()">
        <div class="dropdown">
            <button class="dropdown-button" (mouseenter)="openDropdown()">Minha conta <img src="/assets/arrow-icon-down.png"></button>
            <div class="dropdown-content" *ngIf="isOpen">
              <a href="/profile">Meu perfil</a>
              <a href="#">Favoritos</a>
              <a href="/create-immobile">Publicar imóvel</a>
              <a href="/logout">Sair</a>
            </div>
          </div>
    </ul>
    <ng-template #defaultDiv>
        <ul *ngIf="!isLogged" class="auth">
            <li class="login"><a href="/login">Entrar</a></li>
            <li class="create-post"><a href="/login">Publicar um imóvel</a></li>
        </ul>
    </ng-template>
</nav>

