@import '../../../scss/color-variables.scss';

nav {
    background-color: $primary-color;
    width: 100%;
    height: 10%;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.188rem;
}

ul {
    list-style: none; 
    display: flex; 
    align-items: center;
}

.main {
    margin-left: 2%; 
    padding: 0;   
    justify-content: start;
    align-items: center;
    width: 20%;
}

.main li {
    cursor: pointer;
}

.logo img {
    width: 12.5rem;
    margin-left: 0.625rem;
}

.menu {
    margin-right: 1%;
}

.menu img{
    width: 1.563rem;
}

.options {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.options li a {
    text-decoration: none;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.938rem;
}

.option:hover a {
    background-color: #2daccc;
    cursor: pointer;
}

.auth {
    margin-right: 2%; 
    padding: 0;   
    justify-content: end;
    align-items: center;
    width: 25%;
}

.auth li {
    margin-left: 1.25rem;
    cursor: pointer;
}

.create-post {
    padding: 0.625rem 0.938rem;
    background-color: white;
    border-radius: 1.25rem;
    
}

.create-post a {
    text-decoration: none;
    padding: 0.625rem;
    color: $text-primary-color;
}

.create-post:hover {
    background-color: rgb(244, 242, 242);
}

.login a:hover {
    background-color: #229ebd;
}

.login a {
    padding: 0.625rem 0.938rem;
    background-color: #2daccc;
    border-radius: 1.25rem;
    color: white;
    text-decoration: none;
}
