<section>
    <nav>
        <ul class="main">
            <li class="menu"><a href="#"><img src="/assets/menu-icon.png"></a></li>
            <li class="logo"><a href="/"><img  src="/assets/logo.png"></a></li>
        </ul>
        <ul class="options">
            <li class="option"><a href="#">imóvel</a></li>   
            <li class="option"><a href="#">Comprar imóvel</a></li>
            <li class="option"><a href="#">Sobre nós</a></li>
            <li class="option"><a href="#">Entre em contato</a></li>
        </ul>
        <ul class="auth">
            <li class="login"><a href="#">Entrar</a></li>
            <li class="create-post"><a href="#">Postar um imóvel</a></li>
        </ul>
    </nav>
</section>
