<app-navbar></app-navbar>

<section class="profile">
     <div class="image-profile">
          <div class="image">
               <img *ngIf="imageProfileUrl" [src]="imageProfileUrl" alt="Profile Image" loading="eager">
          </div>
     </div>
     <div class="info">
          
          <div class="container1">
               <p class="name">{{name}}</p>
          </div>
          <div class="container2">
               <div class="data1">
                    <label>Idade:</label>
                    <p>{{age}}</p>
                    
                    <label>Telefone:</label>
                    <p>{{phone}}</p>
                    
                    <label>Estado:</label>
                    <p>{{state}}</p>
               </div>
               <div class="data2">
                    <label>Whatsapp:</label>
                    <p>{{whatsapp}}</p>
                    
                    <label>Email:</label>
                    <div class="email-container" (mouseenter)="showCompleteEmail()" (mouseleave)="closeCompleteEmail()">
                    <p>{{email}}</p>
                    <p *ngIf="showCompletedEmail" class="completed-email">{{completedEmail}}</p>
                    </div>
                    
                    <label>Cidade:</label>
                    <p>{{city}}</p>
               </div>
          </div>
     </div>
</section>


<section class="immobiles" *ngIf="!isLoading">
     <h1>Meus imóveis</h1>
     <p *ngIf="haveImmobiles">Nenhum imóvel cadastrado!</p>
     <div class="cards">
          <ng-container *ngFor="let immobile of immobiles">
               <app-card class="card"
               [id]="immobile.id"
               [quantityRooms]="immobile.quantityRooms"
               [quantityBedrooms]="immobile.quantityBedrooms"
               [quantityBathrooms]="immobile.quantityBathrooms"
               [imageUrl]="immobile.imageUrl"
               [price]="immobile.price"
               [name]="immobile.name"
               [sellerId]="id">
          </app-card>
     </ng-container>
</div>
</section>

<app-loading [isLoading]="isLoading"></app-loading>
<app-footer></app-footer>
