<app-navbar></app-navbar>

<section class="profile">
     <div class="image-profile">
          <div class="image"></div>
     </div>
     <div class="info">
          
          <div class="container1">
               <p class="name">{{name}}</p>
          </div>
          <div class="container2">
               <div class="data1">
                    <label>Idade:</label>
                    <p>{{idade}}</p>

                    <label>Telefone:</label>
                    <p>{{phone}}</p>

                    <label>Estado:</label>
                    <p>{{state}}</p>
               </div>
               <div class="data2">
                    <label>Whatsapp:</label>
                    <p>{{whatsapp}}</p>
          
                    <label>Email:</label>
                    <p>{{email}}</p>

                    <label>Cidade:</label>
                    <p>{{city}}</p>
               </div>
          </div>
     </div>
</section>
