@import '../../../scss/color-variables.scss';

.paginator-container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }
 
 .page-info {
     margin: 0 16px;
     font-size: 16px;
 }
 
 .paginator-button {
     background: none;
     border: none;
     cursor: pointer;
     font-size: 25px;
     color: $primary-color;
 }
 
 .paginator-button:disabled {
     cursor: not-allowed;
     opacity: 0.5;
 }