@import '../../../scss/color-variables.scss';

.example-card {
    width: 20rem;
    border: 0.063rem solid #e7e6e6;
    border-radius: 0.625rem;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.image {
  height: 180px;
  width: 100%;
}

.button {
    padding: 0.625rem;
    background-color: $primary-color;
    border-radius: 0.625rem;
    align-self: flex-end;
    width: 100%;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.title h3 {
  font-size: 1.125rem;
  text-align: center;
  margin-top: 0.625rem;
  margin-bottom: 0px;
}

.title h4{
  font-size: 1.125rem;
  text-align: center;
  margin-top: 0.625rem;
  margin-bottom: 10px;
}

.name {
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.info {
  padding: 10px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
}

.info-icon {
  width: 20px;
}

.quantityRooms, .quantityBedrooms, .quantityBathrooms {
  display: flex;
  justify-content: space-between;
  width: 20%;
  font-size: 20px;
  align-items: center;
}

.quantityRooms p, .quantityBedrooms p, .quantityBathrooms p {
  margin: 0;
}