@import '../../../scss/color-variables.scss';

.example-card {
    max-width: 320px;
    // padding: 10px;
    border: 1px solid #e7e6e6;
    border-radius: 10px;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.button {
    padding: 10px;
    background-color: $primary-color;
    border-radius: 10px;
    align-self: flex-end;
    width: 100%;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.title h4 {
  font-size: 18px;
  margin-top: 10px;
}