@import '../../../scss/color-variables.scss';

.example-card {
    max-width: 20rem;
    // padding: 10px;
    border: 0.063rem solid #e7e6e6;
    border-radius: 0.625rem;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.button {
    padding: 0.625rem;
    background-color: $primary-color;
    border-radius: 0.625rem;
    align-self: flex-end;
    width: 100%;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.title h4 {
  font-size: 1.125rem;
  margin-top: 0.625rem;
}

