<mat-card class="example-card">
  <div class="favorite-container">
    <button class="favorite-button" [class.favorited]="isFavorited" (click)="toggleFavorite()">
      <img [src]="isFavorited ? '/assets/like-active-icon.png' : '/assets/like-noactive-icon.png'" alt="Like Icon">
    </button>
  </div>
  <img mat-card-image class="image" *ngIf="imageProfileBase64" [src]="imageProfileBase64" alt="Profile Image">
  <mat-card-content class="title">
    <h3>{{ formatPrice(price) }}</h3>
    <div class="name">
      <h4>{{name}}</h4>
    </div>
  </mat-card-content>
  <div class="info">
    <div class="quantityRooms">
      <img class="info-icon" src="/assets/room-icon.png">
      <p>{{quantityRooms}}</p>
    </div>
    <div class="quantityBedrooms">
      <img class="info-icon" src="/assets/bedroom-icon.png">
      <p>{{quantityBedrooms}}</p>
    </div>
    <div class="quantityBathrooms">
      <img class="info-icon" src="/assets/bathroom-icon.png">
      <p>{{quantityBathrooms}}</p>
    </div>
  </div>
  <mat-card-actions>
    <button class="button">Ver mais detalhes</button>
  </mat-card-actions>
</mat-card>
