.carousel {
     display: flex;
     overflow-x: scroll;
   }
   
   .carousel-inner {
     display: flex;
   }
   
   .carousel-item {
     flex: 0 0 auto;
     width: auto;
     margin-left: 10px;
   }
   
   .carousel-item img {
     display: block;
     max-height: 380px;
     border-radius: 10px;
   }
   