@import '../../../scss/color-variables.scss';

.carousel {
     display: flex;
     overflow-x: scroll;
   }
   
   .carousel-inner {
     display: flex;
     position: relative;
   }
   
   .carousel-item {
     flex: 0 0 auto;
     width: auto;
     position: relative;
     padding: 10px;
   }
   
   .image-wrapper {
     position: relative;
     display: inline-block;
   }
   
   .carousel-item img {
     display: block;
     max-height: 380px; 
     transition: 0.3s ease;
     border-radius: 10px;
   }
   
   .carousel-item:hover img {
     filter: brightness(40%);
   }
   
   .delete-button {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: $primary-color;
     color: white;
     border: none;
     padding: 40px;
     cursor: pointer;
     border-radius: 15px;
     display: none;
     transition: 0.3s ease;
     background-image: url('/assets/bin-icon.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: 50%;
   }
   
   .carousel-item:hover .delete-button {
     display: block;
   }
   