@import '../../../scss/color-variables.scss';

nav {
    background-color: $primary-color;
    width: 100%;
    height: 60px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.188rem;
}

ul {
    list-style: none; 
    display: flex; 
    align-items: center;
}

.main {
    margin-left: 2%; 
    padding: 0;   
    justify-content: start;
    align-items: center;
    width: 20%;
}

.main li {
    cursor: pointer;
}

.logo img {
    width: 12.5rem;
    margin-left: 0.625rem;
}

.menu {
    margin-right: 1%;
}

.menu img{
    width: 1.563rem;
}

.options {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.options li a {
    text-decoration: none;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.938rem;
}

.option:hover a {
    background-color: $active-button;
    cursor: pointer;
}

.auth {
    margin-right: 2%; 
    padding: 0;   
    justify-content: end;
    align-items: center;
    width: 25%;
}

.auth li {
    margin-left: 1.25rem;
    cursor: pointer;
}

.create-post {
    padding: 0.625rem 0.938rem;
    background-color: white;
    border-radius: 1.25rem;
    
}

.create-post a {
    text-decoration: none;
    padding: 0.625rem;
    color: $text-primary-color;
}

.create-post:hover {
    background-color: rgb(244, 242, 242);
}

.login a:hover {
    background-color: $active-button;
}

.login a {
    padding: 0.625rem 0.938rem;
    background-color: $primary-color;
    border-radius: 1.25rem;
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    border-radius: 0 0 0.938rem 0.938rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 0.938rem;
    font-size: 16px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown-button {
    background-color: $primary-color;
    color: white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.938rem 0.938rem 0 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  .dropdown-button img {
    width: 20px;
  }
  
  .dropdown:hover .dropdown-button {
    background-color: $active-button;
  }