@import '../../../scss/color-variables.scss';
@import '../../../scss/breakpoints_desktop';

.card {
  width: 100%;
  width: 20rem;
  border: 0.063rem solid #e7e6e6;
  border-radius: 0.625rem;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.image-div {
  width: 100%;
}

.image {
  height: 200px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.button {
  display: block;
  padding: 0.625rem;
  border-radius: 0.625rem;
  align-self: flex-end;
  width: 90%;
  color: white;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 20px auto;
}

.button-details {
  background-color: blue;
}

.button-update {
  background-color: $primary-color;
}

.button-sold {
  background-color: #d33c8f ;
}

.title h3 {
  font-size: 1.125rem;
  text-align: center;
  margin-top: 0.625rem;
  margin-bottom: 0px;
}

.title h4 {
  font-size: 1.125rem;
  text-align: center;
  margin-top: 0.625rem;
  margin-bottom: 10px;
}

.name {
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.info {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.info-icon {
  width: 20px;
}

.quantityRooms, .quantityBedrooms, .quantityBathrooms {
  display: flex;
  justify-content: space-between;
  width: 17%;
  font-size: 18px;
  align-items: center;
}

.quantityRooms p, .quantityBedrooms p, .quantityBathrooms p {
  margin: 0;
}

.favorite-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.favorite-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.favorite-button img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 1520px){
  .card {
    width: 100%;
    width: 19rem;
  }
}

@media screen and (min-width: 1662px){
  .card {
    width: 100%;
    width: 21rem;
  }
}

@media screen and (min-width: 1740px){
  .card {
    width: 100%;
    width: 21rem;
  }
}

@media screen and (min-width: 1880px){
  .card {
    width: 100%;
    width: 19rem;
  }
}
