<div class="card">
  <div class="favorite-container">
    <button class="favorite-button" [class.favorited]="isFavorited" (click)="toggleFavorite()">
      <img [src]="isFavorited ? '/assets/like-active-icon.png' : '/assets/like-noactive-icon.png'" loading="lazy" alt="Like Icon">
    </button>
  </div>
  <div class="image-div">
    <img class="image" *ngIf="imageUrl" [src]="imageUrl" alt="Profile Image" loading="lazy">
  </div>
  <div class="title">
    <h3>{{ formatPrice(price) }}</h3>
    <div class="name">
      <h4>{{name}}</h4>
    </div>
  </div>
  <div class="info">
    <div class="quantityRooms">
      <img class="info-icon" src="/assets/room-icon.png">
      <p>{{quantityRooms}}</p>
    </div>
    <div class="quantityBedrooms">
      <img class="info-icon" src="/assets/bedroom-icon.png">
      <p>{{quantityBedrooms}}</p>
    </div>
    <div class="quantityBathrooms">
      <img class="info-icon" src="/assets/bathroom-icon.png">
      <p>{{quantityBathrooms}}</p>
    </div>
  </div>
  <button class="button" (click)="redirectForImmobileDetails()">Ver mais detalhes</button>
</div>
<app-loading [isLoading]="isLoading"></app-loading>

