<app-navbar></app-navbar>

<section class="body">
    <section class="main-section">
         <form id="form" [formGroup]="form">
              <section class="register">
                   <h2>Não tem uma conta?</h2>
                   <p>Se você não tem uma conta, clique abaixo e faça o cadastro para ter acesso a todas as funcionalidades!</p>
                   <a href="/register">Criar conta</a>
              </section>
              <section class="login">
                   <div class="content">
                        <h1>Fazer Login</h1>
                        <p>Use os campos abaixo para acessar a sua conta!</p>
                        <div class="inputs">
                            <div class="input">
                                <input formControlName="email" type="email" placeholder="Email">
                                <input formControlName="password" type="password" placeholder="Senha">
                            </div>
                        </div>
                        <div class="button">
                             <button class="submit" (click)="verifyFields()">Entrar na minha conta</button>
                        </div>
                   </div>
              </section>
         </form>
    </section>
    <app-loading [isLoading]="isLoading"></app-loading>
    <app-modal-text [showModal]="showModalText" [message]="message"></app-modal-text>
    <app-modal-alert [showModal]="showModal" [field]="field"></app-modal-alert>
</section>


    

