@import '../../scss/color-variables.scss';

.main-section {
    // height: 100vh;
    width: 100%;
    // background-color: $primary-color;
}

.main-search {
    width: 100%;
    height: 34.375rem;
    background-color: $primary-color;
    text-align: center;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-search-content {
    position: relative;
    z-index: 2;
}

.main-search::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 156, 182, 0.5);
    z-index: 1;
}

.main-search h1 {
    font-size: 3.125rem;
    color: white;
    font-weight: 600;
    padding-top: 7.5rem;
}

.main-search p {
    font-size: 1.25rem;
    color: white;
    margin-top: 2.5rem;
}

.main-search input {
    margin: 1.875rem auto;
    width: 50%;
    padding: 1.25rem;
    font-size: 1.125rem;
    border-radius: 0.313rem;
    border: none;
    
}

.highlights {
    background-color: white;
    height: 50rem;
    display: block;
    justify-content: space-between;
    padding: 3.125rem;
}

.highlights h3 {
    background-color: white;
    color: $primary-color;
    height: 3.125rem;
    width: 100%;
    text-align: center;
    font-size: 2.813rem;
    margin-top: 5rem;
    margin-bottom: 0.313rem;
}

.highlights p {
    text-align: center;
    font-size: 1.25rem;
    color: #858585;
    margin-bottom: 2.5rem;
}

.highlights-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.filter {
    background-color: $text-primary-color;
    width: 100%;
    // height: 24.375rem;
    height: 20%;
    margin-bottom: 6.25rem;
    display: flex;
}

.image {
    width: 40%;
}

.image img {
    width: 100%;
    height: 100%;
}

.content {
    width: 60%;
    color: white;
    padding: 1.875rem;
    display: block;
    text-align: center;
    height: 80%;
}

.main-text {
    font-size: 3.75rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 5rem;
    font-weight: 600;
}

.second-text {
    font-size: 1.25rem;
}

.content button {
    background-color: $primary-color;
    color: white;
    width: 50%;
    padding: 0.938rem;
    border-radius: 1.25rem;
    border: none;
    font-size: 1.875rem;
    margin-top: 3.125rem;
    cursor: pointer;
}