@import '../../../scss/color-variables.scss';

.page-container {
     display: block;
}

footer {
     width: 100%;
     background-color: $primary-color;
     padding: 20px 0;
 }
 
 hr {
     height: 0.063rem;
     border: none;
     background-color: white;
     margin-top: 1.25rem;
 }
 
 .name {
     text-align: center;
     color: white;
 }
 
 .main-section {
     display: flex;
     justify-content: space-between;
     padding: 0 5%;
     color: white;
     font-size: 1.875rem;
 }
 
 .main-section h5 {
     font-size: 1.125rem;
 }
 
 .main-section img {
     color: white;
 }
 
 .social-media {
     display: block;
     width: 30%;
 }
 
 .icon {
     margin-bottom: 0.625rem;
 }
 
 .icon img {
     cursor: pointer;
 }
 
 .category {
     display: block;
     width: 30%;
 }
 
 .category h5 {
     margin: 0;
 }
 
 .category ul {
     padding: 0;
     margin-top: 0.313rem;
 }
 
 .category li {
     list-style-type: none;
 }
 
 .category a {
     text-decoration: none;
     font-size: 0.75rem;
     color: white;
 }
 
 .category a:hover {
     color: rgb(238, 238, 238);
 }
 
 .contact {
     width: 30%;
 }
 
 .contact h5 {
     margin: 0;
 }
 
 .contact ul {
     padding: 0;
     margin-top: 0.313rem;
 }
 
 .contact li {
     list-style-type: none;
 }
 
 .contact a {
     text-decoration: none;
     font-size: 0.75rem;
     color: white;
 }
 
 .contact a:hover {
     color: rgb(238, 238, 238);
 }