@import '../../../scss/color-variables.scss';

.modal-background {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
}
   
.modal-content {
     background: white;
     padding: 20px;
     width: 30%;
     height: 10%;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     display: flex;
     justify-content: center;
     flex-direction: column;
     text-align: center;
}

p {
     font-size: 18px;
     padding-bottom: 10px;
}

button {
     width: 70%;
     padding: 10px;
     margin: 0 auto;
     background-color: $primary-color;
     border: none;
     border-radius: 10px;
     cursor: pointer;
}

button:active {
     background-color: $active-button;
}
   