<app-navbar></app-navbar>

<section class="title">
     <h1>Entre em contato direto conosco!</h1>
     <p>Nos ajude a deixar a plataforma ainda melhor para todos!</p>
</section>
<form>
     <section class="main-section">
     
          <section class="textarea-section">
               <textarea name="text" class="textarea" placeholder="Digite o conteúdo aqui dentro!"></textarea>
          </section>
          <section class="submit">
               <h2>O que você quer reportar?</h2>
               <div class="options">
                    <div class="radio">
                         <label><input type="radio" name="type" value="ISSUE"> Reportar um problema.</label>
                    </div>
                    <div class="radio">
                         <label><input type="radio" name="type" value="IDEA"> Sugerir uma ideia.</label>
                    </div>
               </div>
               <button class="button">Enviar</button>
          </section>
     </section>
</form>
