<app-navbar></app-navbar>

<section class="title">
     <h1>Entre em contato direto conosco!</h1>
     <p>Nos ajude a deixar a plataforma ainda melhor para todos!</p>
</section>
<form id="form" [formGroup]="form">
     <section class="main-section">
     
          <section class="textarea-section">
               <textarea name="text" formControlName="text" class="textarea" placeholder="Digite o conteúdo aqui dentro!"></textarea>
          </section>
          <section class="submit">
               <h2>O que você quer reportar?</h2>
               <div class="options">
                    <div class="radio" [class.selected]="selectedOption === 'ISSUE'" (click)="selectOption('ISSUE')">
                        <label>
                            <input type="radio" name="type" value="ISSUE">
                            <span>Reportar um problema ⛔</span>
                        </label>
                    </div>
                    <div class="radio" [class.selected]="selectedOption === 'IDEA'" (click)="selectOption('IDEA')">
                        <label>
                            <input type="radio" name="type" value="IDEA">
                            <span>Sugerir uma ideia 💡</span>
                        </label>
                    </div>
                </div>
               <button class="button" (click)="submit()">Enviar</button>
          </section>
     </section>
</form>
<app-modal-text [showModal]="showModalText" [message]="message"></app-modal-text>
<app-footer></app-footer>