<app-navbar></app-navbar>

<section class="main-section">
     <h1>Vamos publicar o seu imóvel de forma simples</h1>

     <section class="upload-images">
          <div class="upload-button">
               <input type="file" placeholder="Envie sua imagem">
          </div>
          <div class="view-upload">

          </div>
     </section>

     <h2 class="information">Informações básicas gerais</h2>

     <section class="basic-informations">
          <label class="title-label">Título do imóvel:</label>
          <input class="title-input" type="text" placeholder="Digite aqui o título do imóvel!">
          
          <label class="address-label">Endereço:</label>
          <input type="text" name="address" placeholder="Endereço">

          <div class="state-city-neighborhood-address">
               <div class="state">
                    <label>Estado:</label>
                    <select id="estado-select">
                         <option value="" disabled selected>Selecione</option>
                         <option value="AC">Acre</option>
                         <option value="AL">Alagoas</option>
                         <option value="AP">Amapá</option>
                         <option value="AM">Amazonas</option>
                         <option value="BA">Bahia</option>
                         <option value="CE">Ceará</option>
                         <option value="DF">Distrito Federal</option>
                         <option value="ES">Espírito Santo</option>
                         <option value="GO">Goiás</option>
                         <option value="MA">Maranhão</option>
                         <option value="MT">Mato Grosso</option>
                         <option value="MS">Mato Grosso do Sul</option>
                         <option value="MG">Minas Gerais</option>
                         <option value="PA">Pará</option>
                         <option value="PB">Paraíba</option>
                         <option value="PR">Paraná</option>
                         <option value="PE">Pernambuco</option>
                         <option value="PI">Piauí</option>
                         <option value="RJ">Rio de Janeiro</option>
                         <option value="RN">Rio Grande do Norte</option>
                         <option value="RS">Rio Grande do Sul</option>
                         <option value="RO">Rondônia</option>
                         <option value="RR">Roraima</option>
                         <option value="SC">Santa Catarina</option>
                         <option value="SP">São Paulo</option>
                         <option value="SE">Sergipe</option>
                         <option value="TO">Tocantins</option>
                     </select>
               </div>
               <div class="city">
                    <label>Cidade:</label>
                    <select formControlName="cidade">
                        <option value="" disabled selected>Selecione</option>
                        <!-- <option *ngFor="let city of cities" [value]="city">{{ city }}</option>  -->
                    </select>
               </div>
               <div class="neighborhood">
                    <label>Bairro:</label>
                    <input type="text" name="neighborhood" placeholder="Nome do bairro...">
               </div>
          </div>
          <div class="type-price-sellertype">
               <div class="price">
                    <label>Preço:</label>
                    <input type="text" name="price" placeholder="Digite aqui o valor do imóvel!">
               </div>
               <div class="type">
                    <label>O que você quer fazer?</label>
                    <select>
                         <option value="AC">Vender</option>
                         <option value="AC">Alugar</option>
                         <option value="AC">Alugar por temporada</option>
                         <option value="AC">Financiar</option>
                         <!-- <option value="AC">Leiloar</option> -->
                    </select>
               </div>
               <div class="seller-type">
                    <label>Que tipo de vendedor você é?</label>
                    <select>
                         <option value="AC">Vendedor próprio</option>
                         <option value="AC">Corretor</option>
                         <option value="AC">Imobiliária</option>
                    </select>
               </div>
          </div>
     </section>

     <h3 class="information">Informações sobre a estrutura do imóvel</h3>


</section>
