<app-navbar></app-navbar>

<section class="main-section">
     <app-arrow-carrosel [imageUrls]="imagesUrl"></app-arrow-carrosel>
     <section class="description">
          <div class="immobile-info">
               <h1>{{name}}</h1>
               <h2>{{address}} - {{neighborhood}} - {{city}} - {{state}}</h2>
               <section class="infos">
                    <div class="price-section">
                         <p class="price">{{price}} </p>
                         <p class="category">/{{ category}}</p>
                    </div>
                    <div class="icons">
                         <div class="quantityRooms">
                              <img class="info-icon" src="/assets/room-icon.png">
                              <p>{{quantityRooms}}</p>
                            </div>
                            <div class="quantityBedrooms">
                              <img class="info-icon" src="/assets/bedroom-icon.png">
                              <p>{{quantityBedrooms}}</p>
                            </div>
                            <div class="quantityBathrooms">
                              <img class="info-icon" src="/assets/bathroom-icon.png">
                              <p>{{quantityBathrooms}}</p>
                            </div>
                    </div>
               </section>
               <div class="description-space">
                    <h4>Descrição do imóvel</h4>
                    <p>{{description}}</p>
               </div>
               <div class="additional-infomations">
                    <h5>Informações adicionais</h5>
                    <div class="informations">
                         <div class="data">
                              <label>O imóvel possui gararem?</label>
                              <p>{{garage}}</p>
                         </div>
                         <div class="data">
                              <label>O immóvel possui suite?</label>
                              <p>{{suite}}</p>
                         </div>
                         <div class="data">
                              <label>Qual a idade do imóvel?</label>
                              <p>{{age}}</p>
                         </div>
                         <div class="data">
                              <label>Qual o tipo do imóvel?</label>
                              <p>{{type}}</p>
                         </div>
                         <div class="data">
                              <label>Qual o tipo do vendedor?</label>
                              <p>{{sellerType}}</p>
                         </div>
                         <div class="data">
                              <label>Area total em m²</label>
                              <p>{{totalArea}}m²</p>
                         </div>
                         <div class="data">
                              <label>Area livre para ser utilizada</label>
                              <p>{{usefulArea}}m²</p>
                         </div>
                         <div class="data">
                              <label>Valor do IPTU</label>
                              <p>R${{IPTU}}</p>
                         </div>
                         <div class="data">
                              <label>Tem jardim?</label>
                              <p>{{garden}}</p>
                         </div>
                    </div>
               </div>
               <div class="characteristics-property">
                    <h6>Características do imóvel</h6>
                    <div class="characteristics">
                         <p *ngFor="let field of trueBooleanFields">{{field}}</p>
                    </div>
               </div>
          </div>
          <div class="seller-info">
               <h3>Proprietário</h3>
               <div class="user-image">
                    <img [src]="sellerImage" alt="Image profile">
               </div>
               <h4>{{sellerName}}</h4>

               <div class="buttons">
                    <a href="{{sellerWhatsappLink}}" class="whatsapp" target="_blank"><img class="button-icon" src="/assets/whatsapp-icon.png">Contato via Whatsapp</a>
                    <a class="email" target="_blank"><img class="button-icon-email" src="/assets/email-icon.png">Contato via Email</a>
                    <a class="whatsapp" target="_blank"><img class="button-icon-email" src="/assets/check-icon.png">Marcar Imóvel como vendido</a>
               </div>
          </div>
     </section>
     <app-loading [isLoading]="isLoading"></app-loading>
     <app-footer></app-footer>
</section>
