<section class="body">
     <section class="main-section">
          <form>
               <section class="imageProfile">
                    
               </section>
               <section class="register">
                    <div class="content">
                         <h1>Criar conta</h1>
                         <p>Crie uma conta para ter acesso a todas as funcionalidades</p>
                         <div class="inputs">
                              <div class="input">
                                   <input type="text" placeholder="Nome">
                                   <input type="email" placeholder="email">
                                   <input type="date" placeholder="Data de aniversário">
                              </div>
                              <div class="input">
                                   <input type="number" placeholder="Telefone/whatsapp">
                                   <input type="password" placeholder="Escolha uma senha">
                                   <input type="password" placeholder="Repita a senha">
                              </div>
                         </div>
                         <div class="button">
                              <button class="submit">Finalizar cadastro</button>
                         </div>
                    </div>
               </section>
          </form>
     </section>
</section>
