<app-navbar></app-navbar>

<section class="title">
     <h1>Escolha o melhor plano para você!</h1>
</section>

<section class="plans">
     <div class="card">
          <div class="icon">
               <img src="/assets/person-icon.png">
               <h2>Básico</h2>
          </div>

          <p class="description">Perfeito para autônomos que desejam vender seu imóvel de maneira eficiente e sem custos. Ideal para quem busca autonomia e resultados rápidos.</p>

          <div class="houses">
               <h3>N° de postagens ativas disponíveis</h3>
               <div class="blocks">
                    <div class="block select">
                         <p>1</p>
                    </div>
                    <div class="block">
                         <p>5</p>
                    </div>
                    <div class="block">
                         <p>+10</p>
                    </div>
               </div>
          </div>

          <div class="price">
               <p class="price-itens">R$</p>
               <p class="value">0</p>
               <p class="price-itens">/mês</p>
          </div>
     </div>
     <div class="card principal">
          <div class="icon">
               <img src="/assets/star-icon.png">
               <h2>Plus</h2>
          </div>
          <p class="description">Perfeito se você tem alguns imóveis e quer vender mais rápido. Ótimo para quem está começando a investir e quer dar um gás nas vendas!</p>

          <div class="houses">
               <h3>N° de postagens ativas disponíveis</h3>
               <div class="blocks">
                    <div class="block">
                         <p>1</p>
                    </div>
                    <div class="block select">
                         <p>5</p>
                    </div>
                    <div class="block">
                         <p>+10</p>
                    </div>
               </div>
          </div>

          <div class="price">
               <p class="price-itens">R$</p>
               <p class="value">20</p>
               <p class="price-itens">/mês</p>
          </div>
     </div>
     <div class="card">
          <div class="icon">
               <img src="/assets/rocket-icon.png">
               <h2>Empresário</h2>
          </div>
          <p class="description">Feito para corretores ou autônomos experientes que querem mandar bem nas vendas. Com postagens ilimitadas, é a escolha certa para quem busca turbinar seus resultados!</p>

          <div class="houses">
               <h3>N° de postagens ativas disponíveis</h3>
               <div class="blocks">
                    <div class="block">
                         <p>1</p>
                    </div>
                    <div class="block">
                         <p>5</p>
                    </div>
                    <div class="block select">
                         <p>+10</p>
                    </div>
               </div>
          </div>

          <div class="price">
               <p class="price-itens">R$</p>
               <p class="value">80</p>
               <p class="price-itens">/mês</p>
          </div>
     </div>
</section>