@import '../../scss/color-variables.scss';
p {
     margin: 0;
}

.title {
     text-align: center;
     padding: 3% 5% 0 5%;
}

.title h1 {
     color: $primary-color;
     font-size: 2.5rem;
     margin-bottom: 0.9375rem;
     font-weight: 500;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.title p {
     color: #858585;
     font-size: 16px;
}

.plans {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 80%;
     padding: 3% 10% 10% 10%;
}

.card {
     box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
     border: 2px solid #ccc;
     border-radius: 15px;
     width: 30%;
     height: 630px;
}

.card:hover {
     box-shadow: 0px 2px 5px 5px ($primary-color);
}

.icon {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 25px 10px 10px 10px;
}

.icon img {
     max-width: 40px;
     max-height: 40px;
     padding: 0 15px;
}

.icon h2 {
     font-size: 25px;
     margin: 0;
}

.description {
     width: 80%;
     height: 80px;
     padding: 10%;
     text-align: center;
}

.houses {
     width: 100%;
}

.houses h3 {
     text-align: center;
     font-weight: 700;
     margin-top: 10px;
}

.blocks {
     box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
     border: 2px solid #aaaaaa;
     border-radius: 15px;
     width: 60%;
     height: 50px;
     margin: auto;
     display: flex;
     justify-content: space-between;
}

.block {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 15px;
     width: 70px;
     height: 100%;
     font-size: 18px;
}

.block p {
     background-attachment: red;
     margin: 0;
}

.select {
     background-color: $primary-color;
     color: white;
     border-radius: 14px;
     border: none;
}

.price {
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 15px;
}

.price-itens{
     font-size: 20px;
     padding: 0 6px;
}

.value {
     padding: 0 6px;
     font-size: 70px;
     font-weight: 700;
}

button {
     cursor: pointer;
}

button:hover {
     background-color: #3c5fd3dc;
}

.button {
     display: flex;
     justify-content: center;
     text-decoration: none;
}

.toSign {
     width: 80%;
     padding: 14px;
     border-radius: 20px;
     border: none;
     background-color: $primary-color;
     font-size: 16px;
     display: flex;
     justify-content: center;
     font-weight: 600;
     color: white;
}

.icon-button {
     max-width: 20px;
     padding-left: 10px;
}

h4 {
     text-align: center;
     padding-top: 30px;
     font-weight: 500;
     font-size: 16px;
     color: #2b2b2b;
}

.list {
     width: 80%;
     padding: 0 20px;
}

.list ul {
     margin: 0;
     font-size: 15px;
}