<section class="main-section">
    <section class="content">
        <img src="/assets/background-login.jpg">
    </section>
    <section class="login">
        <img class="login-logo" src="/assets/logo-escura.png">
        <h2>Acesse sua conta</h2>

        <label>Email:</label>
        <input type="email" name="email" placeholder="Digite aqui o seu email" required>
        <label>Senha:</label>
        <input type="password" name="password" placeholder="Digite aqui a sua senha" required>
        <button>Entrar</button>
        <a class="login-recover" href="#">Esqueci a minha senha</a>
        <a class="login-register" href="/register">Não tem uma conta? Registre-se clicando aqui</a>
    </section>
</section>
