<section class="main-section">
    <section class="content">
        <img src="/assets/background-login.jpg">
    </section>
    <section class="login">
        <a href="/" class="back">
            <img src="/assets/arrow-icon.png">
            <span>voltar para o menu</span>
        </a>

        <img class="login-logo" src="/assets/logo-escura.png">
        <h2>Acesse sua conta</h2>

        <form [formGroup]="form">
            <label>Email:</label>
            <input type="email" formControlName="email" name="email" placeholder="Digite aqui o seu email" required>
            <label>Senha:</label>
            <input type="password" formControlName="password" name="password" placeholder="Digite aqui a sua senha" required>
            <button (click)="submit()">Entrar</button>
            <a class="login-recover" href="#">Esqueci a minha senha</a>
            <a class="login-register" href="/register">Não tem uma conta? Registre-se clicando aqui</a>
        </form>
    </section>

    <app-loading [isLoading]="isLoading"></app-loading>
    <app-modal-text [showModal]="showModalText" [message]="message"></app-modal-text>
</section>
