@import '../../scss/color-variables.scss';

.main-section {
     display: flex;
     width: 94%;
     padding: 3%;
}

.search {
     width: 20%;
     padding: 2%;
     height: 1800px;
     border: 2px solid #ccc;
     border-radius: 10px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cards {
     width: 75%;
     height: 600px;
     padding-left: 3%;
}

.card-div {
     width: 100%;
     display: flex;
     justify-content: flex-start;
     gap: 3.5%;
     flex-wrap: wrap;
}

.card {
     margin-bottom: 3.5%;
}

.paginator {
     display: flex;
     justify-content: center;
}

select, input {
     padding: 10px;
     border-radius: 10px;
     border: 1px solid #ccc;
}

.state-city, .price, .iptu-totalArea, .type-quantityRooms,
.quantityBedrooms-quantityBathrooms, .sellerType-age, .neighborhood-category {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.state-city select {
     width: 100%;
}

.state, .city {
     display: flex;
     flex-direction: column;
     width: 46%;
}

.neighborhood {
     margin-top: 20px;
     display: flex;
     flex-direction: column; 
}

.min-price, .max-price,
.iptu, .totalArea,
.type, .quantityRooms,
.quantityBedrooms, .quantityBathrooms,
.sellerType, .age, .neighborhood, .category {
     display: flex;
     flex-direction: column;
     width: 46%;
     margin-top: 20px;
}

.type select, .quantityRooms select {
     width: 100%;   
}

.characteristics {
     display: flex;
     flex-direction: column;
     padding: 30px 10px 10px 0;
}

.characteristics input {
     margin-bottom: 15px;
     cursor: pointer;
}

.characteristics label {
     cursor: pointer;
}

.clear-form {
     width: 100%;
     padding: 10px;
     background-color: $primary-color;
     color: white;
     cursor: pointer;
     margin-bottom: 20px;
     border-radius: 10px;
     border: 1px solid #ccc;
     font-size: 16px;
}

.clear-form:hover {
     background-color: $secundary-color;
}

.clear-form:active {
     background-color: $third-color;
}