<footer>
     <section class="main-section">
          <div class="social-media">
               <h5>Redes sociais</h5>
               <div class="icon">
                    <img src="/assets/instagram.svg">
               </div>
               <!-- <div class="icon">
                    <img src="/assets/whatsapp.svg">
               </div> -->
          </div>
          <div class="category">
               <h5>Mais pesquisados</h5>
               <ul>
                    <li><a href="#">Casas</a></li>
                    <li><a href="#">Kitnet</a></li>
                    <li><a href="#">apartamentos</a></li>
                    <li><a href="#">Loft</a></li>
               </ul>
          </div>
          <div class="contact">
               <h5>Contato</h5>
               <ul>
                    <li><a href="#">contato</a></li>
               </ul>
          </div>
     </section>
     <hr>
     <p class="name">Minhacasa &amp; 2024</p>
</footer>
